.orders-page-style {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  width: 35vh;
  border: 0.01px solid #ffffff5a;
  border-radius: 15px;
  color: white;
  box-shadow: 0 4px 12px rgba(1, 204, 255, 0.822);
  margin-right: 15px;

  /* allow dynamic height */
  max-height: 90vh; /* optional: avoid growing beyond viewport */
  overflow-y: auto; /* scroll if content exceeds max-height */
}

.orders-page h2 {
  margin-bottom: 1rem;
}

.orders-page p {
  margin: 0.3rem 0;
}

.divider {
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc; /* light line */
  margin: 1rem 0;
}

.subtotal-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: bold;
}

.place-order-btn {
  background-color: linear-gradient(135deg, #4f46e5, #6366f1);
  transition: transform 0.15s ease, background 0.25s ease;
  color: white;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: #fff;
  cursor: pointer;
  transition: transform 0.15s ease, background 0.25s ease;
}

.place-order-btn:hover {
  /* opacity: 0.9; */
  background: linear-gradient(135deg, #4338ca, #4f46e5);
  transform: scale(1.05);
}
/* Ordering Container */
.order-item-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.Order-item-img-container {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 15px;
}
